
.custom-shape-divider-bottom-1618210139 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1618210139 svg {
  position: relative;
  display: block;
  width: calc(138% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1618210139 .shape-fill {
  fill: #FFFFFF;
}


.custom-shape-divider-bottom-opacity .shape-fill-opacity {
  fill: #FFFFFF;
  opacity: 0.5;
}

.custom-shape-divider-bottom-opacity {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  position: absolute;
  bottom: 0px;
}


.custom-shape-divider-bottom-opacity svg {
  position: relative;
  display: block;
  width: calc(136% + 1.3px);
  height: 200px;
}
